---
layout: editorial
pagination:
    data: editorial.editorial
    size: 1
    alias: producto
permalink: "catalogo/{{ producto.titulo | slug }}/"
---
<!-- Logo -->
<section class="flex items-center justify-center y">
  <a href="/catalogo">
    <img loading="lazy" class="w-56 py-10" src="/static/images/logo-editorial-vampira.png" alt="">
  </a>
</section>

<!-- Card -->
<section class="flex flex-col items-center justify-center x y sm:flex-row">
  <!-- Imagen -->
  <img loading="lazy" class="max-w-md max-h-[32rem]" src="{{ producto.imagen }}" alt="">
  <!-- Descripcion -->
  <div class="flex flex-col justify-between gap-4 my-4">
    <!-- Top -->
    <div class="flex flex-col gap-4">
      <!-- Header -->
      <div class="border-b-2 border-blue-900">
        <!-- Titulo -->
        <h1 class="text-3xl uppercase sm:text-5xl">{{ producto.titulo }}</h1>
        <!-- Subtitulo -->
        <h3 class="text-2xl text-blue-800 uppercase">
          {{ producto.subtitulo | renderUsingMarkdown }}
        </h3>
      </div>
      <!-- Descripcion -->
      <p class="text-base text-justify">{{ producto.descripcion | renderUsingMarkdown }}</p>
      <!-- Precio -->
      <h1 class="text-4xl text-blue-800 uppercase">${{ producto.precio }}{% if producto.agotado %} (AGOTADO){% endif %}</h1>
    </div>
    <!-- Bottom -->
    <div class="flex items-start justify-between">
      <div class="flex flex-col">
        <!-- Comprar -->
        <a class="hover:text-gray-300 flex items-center justify-center p-2 text-lg uppercase border-2 sm:text-3xl {% if producto.agotado %}pointer-events-none text-gray-300 line-through{% endif %}" href="{{ producto.url }}">
          <svg class="w-6 h-6 mr-2">
            <use xlink:href="/static/sprite.svg#shopping-cart"></use>
          </svg>
          Comprar
        </a>
      </div>
      <!-- Compartir -->
      <div class="flex flex-col gap-2">
        <p class="text-base text-right border-b-2 border-blue-900">Compartir</p>
        <div class="flex gap-2">
          <a class="hover:text-gray-300" rel="noopener noreferrer" target="_blank" href="https://wa.me/?text={{ settings.url }}{{ page.url }}">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprite.svg#whatsapp"></use>
            </svg>
          </a>
          <a class="hover:text-gray-300" rel="noopener noreferrer" target="_blank" href="https://twitter.com/intent/tweet?url={{ settings.url }}{{ page.url }}">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a class="hover:text-gray-300" rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ settings.url }}{{ page.url }}">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
